.carousel-wrapper-local {
  overflow: hidden;
  // overflow: visible;
  width: 60%;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  z-index: 0;

  .carousel-root {
    height: 100%;
    .carousel {
      &.carousel-slider {
        height: 100%;
        overflow: visible;
        .slider {
          overflow: visible;
          // height:100%;
        }
      }
      .thumbs-wrapper {
        overflow: visible;
      }
    //   .carousel-wrapper {
    //     height: 400px;
    //   }
      .slider-wrapper {
        height: 200%;
        &.axis-horizontal {
            overflow: visible;
            img{
              overflow: visible;
              height: 500px;
            //   width: 50%;
          }
        }
      }
    }
  }
}
