.carousel-wrapper-local {
  overflow: hidden;
  // overflow: visible;
  width: 60%;
  // max-width: 50%;
  // min-width: 40%;
  height: auto;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  z-index: 0;
  &:hover {
    cursor: grab;
  }
  @media all and (max-width:809px) {
    width: 100%;
  }
  .carousel-root {
    height: 100%;
    .carousel {
      &.carousel-slider {
        height: 100%;
        overflow: visible;
        .slider {
          overflow: visible;
          // height:100%;
        }
      }
      .thumbs-wrapper {
        overflow: visible;
      }
      //   .carousel-wrapper {
      //     height: 400px;
      //   }
      .slider-wrapper {
        height: 200%;
        &.axis-horizontal {
          overflow: visible;
          img {
            overflow: visible;
            height: 500px;
            //   width: 50%;
          }
        }
      }
    }
  }
  button:first-of-type {
    color: rgb(20, 223, 37);
    font-size: 13px;
    cursor: pointer;
    min-width: 20px;
    // width: auto;
    width: auto;
    height: 18px;
    padding: 0px 0px 0px 0px;
    background: transparent;
    border: 1px solid  rgb(20, 223, 37);
    transition: all 0.5s;
    z-index: 2;
    &:hover {
      // transform: scale(1.05);
      transition: all 0.65s;
      transform: translate3d(2px, -3px, 0px) scale3d(1.1, 1.1, 1.15) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
  }
}
