.cart-icon {
    width: 26px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 28px;
    //   height: 33px;
    }
  
    .item-count {
      color: rgb(123, 240, 255);
      text-shadow: 2px 1px 1px rgb(0, 0, 0);
      position: absolute;
      font-size: 19px;
      font-weight: bold;
      bottom: 7.5px;
    }
  }
  