.cart-icon {
    width: 26px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 28px;
    //   height: 33px;
    }
  
    .item-count {
      color: rgb(0, 0, 0);
      text-shadow: 1.2px 0.5px 0.4px rgb(0, 0, 0);
      position: absolute;
      font-size: 19px;
      font-weight: bold;
      letter-spacing: 1px;
      bottom: 7.5px;
    }
  }
  