/*-----------------------------------------------------*/
/* Header Nav
/*-----------------------------------------------------*/
.letItSnowPic{
  height: 50px;
  width: 50px;
}

.MenuNavHeader {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  /*margin-top: 2px;
    margin-bottom: 10px;*/
  height: auto;
  /* width: 90%; */
  padding: 0 10px 0 10px;
}
.MenuNavHeader ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0em;
  margin: 8px 0px 15px 0px;
  flex-wrap: wrap;
}

.MenuNavHeader > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  margin: 3px;
  border: 2px solid rgba(19, 16, 211, 0.788);
  border-left-width: 0px;
  border-top-width: 0px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(47, 221, 221, 0.61);
  padding: 0px 9px 6px 9px;
}

.MenuNavHeader > ul > li > a {
  text-decoration: none;
  text-shadow: 2px 4px 1px rgb(243, 44, 44);
  color: rgb(255, 235, 53);
}

.link:hover {
  font-size: 28px;
  color: rgb(43, 202, 51);
  text-shadow: 2px 4px 1px rgb(253, 30, 14);
  cursor: pointer;
  margin: auto;
}

.link3 {
  font-size: 26px;
  color: rgb(43, 202, 51);
  text-decoration: none;
  text-shadow: 3px 3px 0.5px rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
  border: 0px solid rgba(47, 221, 221, 0.61);
  box-shadow: 2px 4px 4px rgba(47, 221, 221, 0.61);
  border-radius: 10px;
  padding: 0px 9px 6px 9px;
  /* 
  transition: all 0.3s ease-out;
  -webkit-transition: all 3s ease-out; 
  */
}
.link3:hover {
  font-size: 29px;
  /* color: rgb(196, 134, 0); */
  text-shadow: 2px 4px 1px rgb(72, 73, 73);
  cursor: pointer;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: animate-golden-bands 1s linear 0s infinite alternate forwards;
}
@keyframes animate-golden-bands {
  0%   { background-image: linear-gradient(150deg,black 50%,  orange 60%,  black 70%,  orange 80%  ,black 90% ); }
  5%   { background-image: linear-gradient(150deg,black 47.5%,orange 57.5%,black 67.5%,orange 77.5%,black 87.5%); }
  10%  { background-image: linear-gradient(150deg,black 45%,  orange 55%,  black 65%,  orange 75%,  black 85% ); }
  15%  { background-image: linear-gradient(150deg,black 42.5%,orange 52.5%,black 62.5%,orange 72.5%,black 82.5%); }
  20%  { background-image: linear-gradient(150deg,black 40%,  orange 50%,  black 60%,  orange 70%,  black 80% ); }
  25%  { background-image: linear-gradient(150deg,black 37.5%,orange 47.5%,black 57.5%,orange 67.5%,black 77.5%); }
  30%  { background-image: linear-gradient(150deg,black 35%,  orange 45%,  black 55%,  orange 65%,  black 75% ); }
  35%  { background-image: linear-gradient(150deg,black 32.5%,orange 42.5%,black 52.5%,orange 62.5%,black 72.5%); }
  40%  { background-image: linear-gradient(150deg,black 30%,  orange 40%,  black 50%,  orange 60%,  black 70% ); }
  45%  { background-image: linear-gradient(150deg,black 27.5%,orange 37.5%,black 47.5%,orange 57.5%,black 67.5%); }
  50%  { background-image: linear-gradient(150deg,black 25%,  orange 35%,  black 45%,  orange 55%,  black 65% ); }
  55%  { background-image: linear-gradient(150deg,black 22.5%,orange 32.5%,black 42.5%,orange 52.5%,black 62.5%); }
  60%  { background-image: linear-gradient(150deg,black 20%,  orange 30%,  black 40%,  orange 50%,  black 60% ); }
  65%  { background-image: linear-gradient(150deg,black 17.5%,orange 27.5%,black 37.5%,orange 47.5%,black 57.5%); }
  70%  { background-image: linear-gradient(150deg,black 15%,  orange 25%,  black 35%,  orange 45%,  black 55% ); }
  75%  { background-image: linear-gradient(150deg,black 12.5%,orange 22.5%,black 32.5%,orange 42.5%,black 52.5%); }
  80%  { background-image: linear-gradient(150deg,black 10%,  orange 20%,  black 30%,  orange 40%,  black 50% ); }
  85%  { background-image: linear-gradient(150deg,black 07.5%,orange 17.5%,black 27.5%,orange 37.5%,black 47.5%); }
  90%  { background-image: linear-gradient(150deg,black 05%,  orange 15%,  black 25%,  orange 35%,  black 45% ); }
  95%  { background-image: linear-gradient(150deg,black 02.5%,orange 12.5%,black 22.5%,orange 32.5%,black 42.5%); }
  100% { background-image: linear-gradient(150deg,black 00%,  orange 10%,  black 20%,  orange 30%,  black 40% ); }
  }  
.logo {
  margin-top: 6px;
  padding-top: 4px;
  letter-spacing: 0.7px;
  font-size: 25px;
  color: rgb(65, 236, 22);
  background-image: linear-gradient(
    150deg,
    /* to bottom right, */
    black 50%,  orange 60%,  black 70%,  orange 80%  ,black 90% 
  );
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav > h1:first-of-type {
  font-size: 26px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 4%);
}

h1 > span {
  color: #15ff00;
  text-shadow: 2px 4px 2px rgb(253, 129, 14);
}
