/*-----------------------------------------------------*/
/* Header Nav
/*-----------------------------------------------------*/
.MenuNavHeader {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  /*margin-top: 2px;
    margin-bottom: 10px;*/
  height: auto;
  /* width: 90%; */
  padding: 0 10px 0 10px;
}
.MenuNavHeader ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0em;
  margin: 8px 0px 15px 0px;
  flex-wrap: wrap;
}

.MenuNavHeader > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  margin: 3px;
  border: 2px solid rgba(19, 16, 211, 0.788);
  border-left-width: 0px;
  border-top-width: 0px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(47, 221, 221, 0.61);
  padding: 0px 9px 6px 9px;
}

.MenuNavHeader > ul > li > a {
  text-decoration: none;
  text-shadow: 2px 4px 1px rgb(243, 44, 44);
  color: rgb(255, 235, 53);
}

.link:hover {
  font-size: 28px;
  color: rgb(43, 202, 51);
  text-shadow: 2px 4px 1px rgb(253, 30, 14);
  cursor: pointer;
  margin: auto;
}

.link3 {
  font-size: 26px;
  color: rgb(43, 202, 51);
  text-decoration: none;
  text-shadow: 3px 3px 0.5px rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
  border: 0px solid rgba(47, 221, 221, 0.61);
  box-shadow: 2px 4px 4px rgba(47, 221, 221, 0.61);
  border-radius: 10px;
  padding: 0px 9px 6px 9px;
  /* -webkit-transition: all 3s ease-out; */
}

.link3:hover {
  font-size: 29px;
  /* color: rgb(196, 134, 0); */
  text-shadow: 2px 4px 1px rgb(72, 73, 73);
  cursor: pointer;
}
.logo {
  padding-top: 4px;
  font-size: 25px;
  color: rgb(65, 236, 22);
  background-image: linear-gradient(
    150deg,
    /* to bottom right, */
    black 50%,
    orange,
    black,
    orange,
    black,
    orange
  );
  -webkit-transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav > h1:first-of-type {
  font-size: 26px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 4%);
}

h1 > span {
  color: #15ff00;
  text-shadow: 2px 4px 2px rgb(253, 129, 14);
}
