.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;
      &:nth-child(3) {
        width: 19%;
        padding-left: 3px;
      }
      &:nth-child(4) {
        width: 26%;
        padding-left: 15px;
      }
      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 6px;
    margin-right: 10%;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 33px;
    color: #41ec16;
    text-shadow: 2px 3px 2px #fa1111;
  }

  // button {
  //   margin-left: auto;
  //   margin-top: 50px;
  // }

  .demo-warning {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(145, 238, 255);
    text-shadow: 2px 3px 2px #000000;
    span {
      font-size: 30px;
      color: red;
      text-shadow: 2px 3px 2px #000000;
    }
  }
}
