.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(218, 23, 185);
    border-radius: 10px;
    margin: 0 7.5px 15px;
    overflow: hidden;
  
    &.large1 {
      height: 270px;
      //width: 150px;
      border: 1px solid rgb(169, 29, 182);
    }

    &:hover {
      cursor: pointer;
    
      & .background-image {
        transform: scale(1.25);
        transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      & .content {
        opacity: 1;
      }
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    .background-image{
      height: 100%;
      width: 100%;
      background-position: center;
      //background-size: 0 0; 100% 100%; cover ; contain; auto
      //background-repeat: no-repeat;
      background-size: 0 0;

      &.imageBackOn{
        //background-size: contain;
        background-size: 100px 100px;
        background-position: top center;
        //background-repeat: repeat-y;
        .image{
          //opacity: 0;
          height: 120%;
          //width: 50%;
          margin-top: 3%;
        }
      }
  
      .image{
        height: 100%;
        border: 2px solid black;  
        border-radius: 10px;
      }
    }
  
    .content {
      height: 70px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 0, 191, 0.363);
      border-radius: 15px;
      background-color: rgba(103, 127, 233, 0.315);
      opacity: .8;
      position: absolute;
      background-image: none;
  
      .title , .subtitle {
        font-weight: bold;
        margin-bottom: 3px;
        font-size: 27px;
        color: rgba(80, 240, 16, 0.911);
        text-shadow: 2px 3px 2px #ff00d4;
      }
      
      .subtitle {
        color: rgba(255, 251, 31, 0.911);
        text-shadow: 2px 3px 2px #ff0062;
        font-size: 25px;
      }
    }
  }