.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(218, 23, 185);
    margin: 0 7.5px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    //background-size: 100% 100%; cover ; contain; auto;
  
    &.large1 {
      height: 270px;
      //width: 150px;
      border: 4px solid rgb(169, 29, 182);
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .content {
      height: 70px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 0, 191, 0.363);
      border-radius: 7px;
      background-color: rgba(222, 152, 236, 0.281);
      opacity: .95;
  
      .title , .subtitle {
        font-weight: bold;
        margin-bottom: 3px;
        font-size: 27px;
        color: rgba(80, 240, 16, 0.911);
        text-shadow: 2px 3px 2px #ff00d4;
      }
      
      .subtitle {
        color: rgba(255, 251, 31, 0.911);
        text-shadow: 2px 3px 2px #ff0062;
        font-size: 25px;
      }
    }
  }