$sub-color: black;
$main-color: rgb(187, 187, 187);
$text-shadow-color: rgb(0, 0, 0);

@mixin shrinkLabel {
  top: -3px;
  font-size: 26px;
  color: $main-color;
  text-shadow: 2px 2px 2px $text-shadow-color;
}

.group {
  position: relative;
  margin: 0px 0px 15px 0px;

  .form-input {
    // background: none;
    background-color: grey;
    background: linear-gradient( 
      to bottom left, 
      rgb(167, 167, 167) 0%, 
      rgb(95, 95, 95) 100% 
      );
    color: $sub-color;
    font-size: 18px;
    padding: 5px 2px 5px 2px;
    align-content: center;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 15;
    border-bottom: 1px solid $sub-color;
    margin: 30px 0 0 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    // letter-spacing: 0.2px;
    background: linear-gradient( 
      to bottom left, 
      grey 0%, 
      rgb(63, 63, 63) 100% 
      );
    width: 100%;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 28px;
    text-shadow: 2px 2px 2px rgb(239, 243, 237);
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    width: 80%;
    left: 7px;
    top: 28px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
